.hero{
	height: 80vh;
	min-height: 63rem;

    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    @include media(md){
        flex-direction: row;
        justify-content: space-between;
    }
    h1 {
        color: $darkMagenta;
    }
    p {
        font-weight: 300;
        @include media(md){
            font-size: 3.2rem;
            line-height: 105%;
        }
        @include media(lg){
            font-size: 3.8rem;
        }
        @include media(xl){
            font-size: 4.2rem;
        }
    }
    .left {
        @include media(lg){
            width: 50%;
            }
    }
    .right {
        margin-bottom: 3rem;
        img {
            width: 90%;
            margin: 0 auto;
            position: relative;
            transform: translateY(5%);
            @include media(md){
                width: 100%;
                margin: 2rem 0;
                transform: translateY(0);
                transform: translateX(-10%);
            }
        }
        background: $lightGold;
        @include media(lg){
        width: 45%;
        }
    }
	&.reverse {
		border: 2px solid seagreen;
		flex-direction: column;
		@include media(lg){
			flex-direction: row;
			align-items: flex-end;
		justify-content: center;
		
		}
		margin-bottom: 5rem;
		figure {
			height: 90%;
		}
		.right {
			border: 2px solid red;
			background: $darkPeach;
			@include media(lg){
				width: 50%;
				height: 85%

			}
			img {
				@include media(lg){
					width: 100%;
					margin: 2rem 0;
					transform: translateY(0);
					transform: translateX(10%);
				}
			}
		}
		.left {
			border: 2px solid blue;
			// padding: 3.25rem 2rem;
			width: 50%;
			// max-width: 54rem;
			text-align: right;
			
			
		}
	}
}

.feature-prod--inner{

	display: flex;
	flex-direction: column;
    width: 100%;
    display: flex;
	@include media(md){
		flex-direction: row;
		align-items: flex-end;
		height: 80vh;
		min-height: 50rem;
	}
	.left {

		@include media(md){
			width: 50%;
		max-width: 67rem;

		}
	}
	.right {
	
	padding: 2rem 0;
			background: $darkPeach;
			@include media(md){
				width: 50%;
				height: 100%

			}
			img {
				@include media(md){
					width: 100%;
					// margin: 2rem 0;
					transform: translateY(0);
					transform: translateX(10%);
				}
			}
	}
}

.post-hero {
	width: 75%;
	margin: 5rem auto;
	@include media(sm){
		width: 60%;
		margin: 6rem auto;
	}
	@include media(md){
		width: 60%;
		margin: 8rem auto;
	}
	@include media(lg){
		width: 60%;
		margin: 12rem auto;
	}
	p {
		font-size: 3rem;
	}

}



.card-container {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&.products {
		padding-left: 0rem;
	}
	margin-top: 5rem;
	.blog-card--container {
		figure {
			width: 100%;
			height: auto;
			aspect-ratio: 1/1
	
		}
		margin-bottom: 3rem;
		width: 100%;
		@include media(md){
		width: 47%;	
		height: auto;
		}
		@include media(lg){
			width: 30%;	
		}
		.card-text {
			text-align: left;
			background: white;
			padding: 1rem 2rem;
			.card-title {
				@include bodyText();
				font-weight: 400;
				font-size: 3rem;
			}
			.card-date {
				text-transform: lowercase;
				font-size: 1.6rem;
			}
		}
		
	}
}

.blog-cat {

	text-align: center;
	&:nth-child(2) {
		.card-container {
			background-color: $lightGold;
		}
	}
	&:last-child {
		.card-container {
			background-color: $darkPeach;
			margin-bottom: 15rem;
		}
	}
	.cat-archive-link {
		position: relative;
		top: 2rem;
		
	
		&:after {
				transition: all 0.2s ease-in-out;
				position: absolute;
				content: "";
				height: 1px;
				width: 0%;
				background-color: $darkMagenta;
				left: 0;
				top: 0;
				transform: translateY(3rem);
			
			}
	
		&:hover {
			&:after {
				width: 100%;
				transition: all .25s ease-in-out;
			}
		}
	}
}





// Updates card

.more-updates {

	text-align: center;
	margin-top: 3rem;
	a{
		font-size: 2.4rem;
		font-weight: 800;
		position: relative;
		color: $lightPeach;
		&:hover {
			&:after {
				transition: all 0.2s ease-in-out;
				width: 100%;
			}
		}
		&:after {
			transition: all 0.2s ease-in-out;
			position: absolute;
			content: "";
			height: 2px;
			width: 0%;
			background-color: $lightPeach;
			left: 0;
			transform: translateY(3rem);
		}
	}

}
.update-card-container {
	align-items: stretch;
	min-width: 21.5rem;
}




//Filter

.category-form {
	.cat-select {
		text-align: right;
	}
	label {
		cursor: pointer;
		position: relative;
		font-size: 2rem;
		margin-left: 2rem;
		&.active  {
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -.5rem;
				width: 95%;
				height: 0.1rem;
				background-color: $charcoal;

			}
		}
	}
	input[type="radio"]{
		
		position: absolute;
		width: 100%;
		opacity: 0;
		display: none;
		// position: relative;
		// &:after {
		
		// 	content: "";
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: -2.5rem;
		// 	width: 80%;
		// 	height: 0.2rem;
		// 	background-color: blue;
		// }
		
	}
}









  












