


.custom-woo-container{
    // border: 2px solid orangered;
    .product {
        @include media(md){
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    .summary {
        float: none!important;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        // border: 2px solid olive;
        margin-top: 15%;
        @include media(md){
            margin-top: 5%;
            height: 80vh;
           width: 43%!important;
        
        }
        .price {
            // border: 2px solid yellow;
            .woocommerce-Price-amount {
                font-size: 3rem;
                @include bodyText();
                color: $darkMagenta;
            }
        }
        .product_meta {
            display: none;
            visibility: hidden;
        }
        .single_add_to_cart_button, .wc-forward {
            background-color: transparent!important;
            padding: .5rem 4rem;
            border: 1px solid $darkMagenta;
            @include bodyText();
            text-transform: lowercase;
            color: $darkMagenta!important;
            border-radius: 2.5rem;
            background: transparent;
            cursor: pointer;
            font-size: 2.4rem;
            transition: all .25s ease-in-out;
            @include media(md){
                padding: 1rem 4rem;
                border-radius: 3rem!important;
            }
            &:hover {
                background-color: $darkMagenta!important;
                color: $lightPeach!important;
                transition: all .25s ease-in-out;
            }
            &.btn-light {
                border: 1px solid $lightPeach;
                color: $lightPeach;
                &:hover {
                    background: $lightPeach;
                    color: $darkMagenta;
                    transition: all .25s ease-in-out;
                }
            }
         }
         .cart {
            // border: 2px solid rebeccapurple;
            display: flex;
            .quantity {
                border: 0px;
                background-color: white;
                margin-right: 2rem!important;
                cursor: pointer;
                .qty {
                    width: 10rem;
                    font-size: 2.4rem;
                    @include bodyText();
                    color: $darkMagenta!important;
                }
            }
         }
    
    }
    .related {
        border: 2px solid slateblue;
        // display: none;
        // visibility: hidden;
    }
    .woocommerce-tabs {
        border: 2px solid goldenrod;
      
    }
    .woocommerce-product-gallery {
        // border: 3px solid blue;
        @include media(md){
            height: 80vh;

        }
        background:  $darkPeach;
        .woocommerce-product-gallery__image {
            a {

            }
            // max-height: 100vh;
            // img {
            //     max-height: 100vh;
            // }
        }
        .woocommerce-product-gallery__wrapper {
            max-height: 100%;
            // border: 2px solid red;
            // overflow-y: hidden;
            img {
                object-fit: cover;
                transform: translateY(5%);
                width: 90%!important;
                margin: 0 auto;
                position: relative;
               
				@include media(md){
                    max-height: 75vh;
					width: 100%!important;
					margin: 2rem 0;
					transform: translateY(0);
					transform: translateX(10%);
				}
			}
        }
    }
    .product_custom-fields {
    }
    .full-width {
        margin-top: 5rem;
    }
    .description_custom-location {
        p {
            font-size: 2.8rem;
            @include media(md){
                font-size: 3.6rem;
            }
            @include media(lg){
                font-size: 4rem;
            }
        }
    }
    .accordion {
        
        .accordion-list {
            background: white;
            padding-left: 0;
            .accordion-item {
                cursor: pointer;
                &[aria-expanded="false"]{
                    overflow: hidden;
                    .answer{
                        padding: 3rem;
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        overflow: hidden;
                        transition: all .25s ease-in-out;
                        height: 0%;
                    }
                }
                &[aria-expanded="true"]{
                    overflow: visible;
                    .answer{
                        position: relative;
                        opacity: 1;
                        visibility: visible;
                        overflow: visible;
                        height: 100%;
                        transition: all .25s ease-in-out;
                    }
                }
            }
            .item--inner, .answer {
                width: 100%;
                padding: 3rem;
                border: 1px solid $charcoal;
                margin: 0;
            }
            .item--inner[aria-expanded="false"]{
                overflow: hidden;
              
            }
            .item--inner[aria-expanded="true"]{
                overflow: hidden;
              
            }
           .answer {
           
            &.open {
             
           
            }
           }
        }



        
    }
   
}



//checkout

.wc-block-components-title.wc-block-components-title {
    font-size: 2.6rem!important;
}
.wc-block-components-checkout-step__description {
    font-size: 2rem!important;
}
.wc-block-components-form {
    input[type="text"], input[type="tel"] {
        height: 4rem!important;
    }
    input[type="checkbox"] {
        height: 2rem!important;
        width: 2rem!important;
    }
    label {
        font-size: 1.2rem!important;
    }
}
.wc-block-components-checkbox {
    label {
        align-items: center!important;
    }
    span {
        font-size: 1.6rem!important;
    }
}
.wc-block-checkout__terms {
    span {
        font-size: 1.6rem!important;
    }
}
.woocommerce div.product p.stock {
    font-size: 1.8rem;
    color: $gold;
    font-weight: 400;
}

.woocommerce .woocommerce-breadcrumb {
    font-size: 1.6rem;
    color: $charcoal;
    padding-left: 2rem;
}

//notifications

.woocommerce-message {
    border-top-color: $purple;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media(md){
flex-direction: row;
    }
    align-items: center;
    padding: 3rem;
    @include heading();
    font-size: 2.4rem;
    text-align: center;
    margin: 5rem;
    position: relative;
    background-color: $lightPeach;
    color: #515151;
    border: 1px solid $darkMagenta;
    border-radius: 1rem;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
    &:before {
        content: "";
        color: transparent;
    }
}


.button {
    &.wc-forward {
        margin-bottom: 3rem!important;
        @include media(md){
            margin-bottom: 0!important;
        }
        background-color: transparent!important;
        padding: .5rem 4rem;
        border: 1px solid $darkMagenta!important;
        @include bodyText();
        text-transform: lowercase;
        color: $darkMagenta!important;
        @include bodyText();
        font-weight: 300!important;
        border-radius: 2.5rem;
        background: transparent;
        cursor: pointer;
        font-size: 2.4rem;
        transition: all .25s ease-in-out;
        @include media(md){
            padding: 1rem 4rem;
            border-radius: 3rem!important;
        }
        &:hover {
            background-color: $darkMagenta!important;
            color: $lightPeach!important;
            transition: all .25s ease-in-out;
        }
        &.btn-light {
            border: 1px solid $lightPeach;
            color: $lightPeach;
            &:hover {
                background: $lightPeach;
                color: $darkMagenta;
                transition: all .25s ease-in-out;
            }
        }
    }
}


.wc-block-components-textarea {
    font-size: 1.8rem!important;
}

//confirmation message

.woocommerce-order-overview {
    &.woocommerce-thankyou-order-details {
        &.order_details {
            @include bodyText();
            font-size: 1.8rem;

        }
    }
}

.woocommerce {

    table.shop_table{
        margin-top: 5rem;
        margin-bottom: 5rem!important;
        border: 1px solid $magenta;
        font-size: 1.8rem;
        th {
            font-weight: 400!important;
            @include heading();
        }
        bdi, td {
            @include bodyText();
            font-weight: 400!important;
        }
    }
}
.woocommerce .woocommerce-customer-details address {
    border: 1px solid $magenta;
    margin-top: 3rem;
    @include bodyText();
    font-size: 1.8rem;
}
.woocommerce-thankyou-order-received{
    font-size: 2.4rem;
    @include heading();
    margin-bottom: 3rem!important;
}