
//Page Transition
.main-content {
    animation: fade-in 1s forwards;
}

.fade-in {
    opacity: 1;
}

.main-content.fade-out {
    animation: fade-out 1s forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    position: relative;
}


.content .btn {
	top: 1rem;
}
.section-container {
	margin: 0 auto;
	max-width: 140rem;

	&.half {
		max-width: 56rem;
	}
	position: relative;
	padding: 3.25rem 2rem;
	@include media(sm){
		padding: 7rem 3rem;
	}
	@include media(md){
		padding: 8.25rem 6rem;
	}
	@include media(lg){
		padding: 12.5rem 8.25rem;
	}
	&.right-only {
		padding: 3.25rem 2rem 0 0;
		@include media(sm){
			padding: 7rem 3rem 0 0;
		}
		@include media(md){
			padding: 8.25rem 6rem 0 0;
		}
		@include media(lg){
			padding: 12.5rem 8.25rem 0 0;
		}
	}
	&.no-side-pad {
		padding: 3.25rem 0;
		@include media(sm){
			padding: 7rem 0;
		}
		@include media(md){
			padding: 8.25rem 0;
		}
		@include media(lg){
			padding: 12.5rem 0;
		}
	}
	&.no-topbottom-pad {

		padding: 0 2rem;
	@include media(sm){
		padding: 0 3rem;
	}
	@include media(md){
		padding: 0 6rem;
	}
	@include media(lg){
		padding: 0 8.25rem
	}
	}
}

.section-container__post {
	p {
		position: relative;
		display: block;
		width: 90%;
		margin: 2rem auto;
		@include media(sm){
			width: 80%;
		}
		@include media(md){
			width: 70%;
			max-width: 130rem;
		}
	
	}

}

.blog-redirect {
	
	margin: 8rem auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
		@include media(sm){
			width: 80%;
		}
		@include media(md){
			width: 70%;
			max-width: 130rem;
			margin: 12rem auto;
		}

	p {
		color: $purple;
		font-weight: 400;
		width: 100%;
	}
	a {
		color: $purple;
		border: 1px solid $purple;
		display: inline-block;
		align-self: flex-start;
	}
}

//Footer {
	.footer {
		overflow: hidden;
		nav {
			height: 100%;
		}
		position: relative;
		background-color: $darkMagenta;
		
		.footer--inner {
			@include media(md){
				display: flex;
				justify-content: space-between;
			}
			&.section-container {
				padding-bottom: 0;
			}
		
		}
		figure {
			position: absolute;
			bottom: -7rem;
			left: 50%;
			transform: translateX(-40%);
		}
		.newsletter-signup {
			@include media(md){
				width: 50%;
			}
		}
		.footer-nav {
			
			background: $lightPeach;
			@include media(md){
				background: transparent;
			}
		}
		.footer-ul {
			width: 75%;
			padding-left: 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			@include media(md){
				flex-direction: column;
				width: 100%;
			}
			justify-content: space-between;
			li {
				width: 50%;
				@include media(md){
					width: auto;
				}
				margin-bottom: 3rem;
			}
			a {
				color: $charcoal;
				font-size: 2.4rem;
				@include media(md){
					font-size: 3.6rem;
					color: $lightPeach;
					
				}
			}
		}
.footer-crystal {
	right: 0;
	bottom: -50rem;
	transform: rotate(-25deg)translate(100%, -50%);
	width: 20rem;
	@include media(md){
		display: none;
		visibility: hidden;
	}
}
		.legal {
			background-color: $lightPeach;
			@include media(md){
				background-color: $darkMagenta;
			}
			.legal-inner{
			p{
				color: $charcoal;
			@include media(md){
				color: $white;
			}
			}
			width: 90%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 6.6rem;
			color: $charcoal;
			@include media(md){
				color: $white;
			}
			}
		}
	}




//Search results page

.search-results {
	.results-list {
		color: $charcoal;
		p{
			margin-top: 1rem;
		}
		a {
			text-decoration: none;
			border-bottom: 2px solid $magenta;
			color: $magenta;
			p {
				color: $magenta;
			
			}
		}
		h2 {
			margin-bottom: 5rem;
		}
	}
}













