




.section-container {
	margin: 0 auto;
	max-width: 140rem;
	
	position: relative;
	padding: 3.25rem 2rem;
	@include media(sm){
		padding: 7rem 3rem;
	}
	@include media(md){
		padding: 8.25rem 6rem;
	}
	@include media(lg){
		padding: 12.5rem 8.25rem
	}
	&.no-side-pad {
		padding: 3.25rem 0;
		@include media(sm){
			padding: 7rem 0;
		}
		@include media(md){
			padding: 8.25rem 0;
		}
		@include media(lg){
			padding: 12.5rem 0;
		}
	}
	&.no-topbottom-pad {

		padding: 0 2rem;
	@include media(sm){
		padding: 0 3rem;
	}
	@include media(md){
		padding: 0 6rem;
	}
	@include media(lg){
		padding: 0 8.25rem
	}
	}
}

.section-container__post {
	p {
		width: 90%;
		margin: 2rem auto;
		@include media(sm){
			width: 80%;
		}
		@include media(md){
			width: 70%;
			max-width: 130rem;
		}
	
	}
}

//Footer {
	.footer {
		overflow: hidden;
		nav {
			height: 100%;
		}
		position: relative;
		background-color: $magenta;
		
		.footer--inner {
			@include media(md){
				display: flex;
				justify-content: space-between;
			}
			&.section-container {
				padding-bottom: 0;
			}
		
		}
		figure {
			position: absolute;
			bottom: -7rem;
			left: 50%;
			transform: translateX(-40%);
		}
		.newsletter-signup {
			@include media(md){
				width: 50%;
			}
		}
		.footer-ul {
			padding-left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			li {
				margin-bottom: 3rem;
			}
			a {
				color: $lightPeach;
				font-size: 2.4rem;
				@include media(md){
					font-size: 3.6rem;
					
				}
			}
		}

		.legal {
			background-color: $magenta;
			.legal-inner{
			p{
				color:$white;
			}
			width: 90%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 6.6rem;
			color: $white;
			
			}
		}
	}




//Search results page

.search-results {
	.results-list {
		color: $charcoal;
		p{
			margin-top: 1rem;
		}
		a {
			text-decoration: none;
			border-bottom: 2px solid $magenta;
			color: $magenta;
			p {
				color: $magenta;
			
			}
		}
		h2 {
			margin-bottom: 5rem;
		}
	}
}













